body
{
	background-image: url('/Public/Images/Header/Head.jpg');
	background-repeat: no-repeat;
  	background-attachment: fixed;
	margin-top: 90px;
}
.Navigation
{
	margin-bottom: 20px;
}
.BottomNav
{
	margin-top: 7%;
}
.Login
{
	margin: 90px;
}
.Signup
{
	margin: 90px;	
}
.Archive
{
	margin-top: 11%;
	margin-left: 90px;	
}